:root{
    --primary : #c0247a;
    --on-primary : #1a1414;
    --SecondaryC : #17141b;
    --on-SecondaryC : #1E192B;
    --Surface : rgb(231, 224, 236,0.50);
    --on-surface: #1C1B1F;
    --Outline : #85746b ;
    --Surfacevariant : #e7e0ec;
    --height: 40px;
    --padding: 0px 16px;
    --rudios: calc( var(--height) / 2 );
    --align : center;
    --fontsize : 14px;
    --fontfamily : 'B Titr' ;
} 
@media (min-width: 1024px) {
body{
   direction: rtl;
    font-family: Arial, Helvetica, sans-serif;



}

.cards{
    height: 500px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.card_Filled{

    background-color: white;
   font-family: B yekan,Arial, Helvetica, sans-serif;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: -0px 0px 15px -6px #000000;

}
.card-body{
    padding: 0px 15px 0px 15px;
    margin: 10px;


}
img{

    width:100%;
    padding-right: -10px;
    border-radius: 4px;
}
.budy{
    color: #9b9b9b;
 margin-top: -10px;
}
}
@media (max-width: 1024px) {

    html, body {
        font-family: 'B yekan';
        color: #505357;
        padding: 0;
        margin: 0;
        font-size: 100%;

      }

      html, body * {
        box-sizing: border-box;
      }

      h3 {
        font-size: 1.500em; 
        text-transform: uppercase;
        font-weight: 400;
        font-style: normal;
        margin: 0 0 0 0;
      }
      .bg-fifty-percent {
        position: fixed;
        width: 100%;
        height: 50vh;
        z-index: -1;
      }
      .cards{
          position: absolute;
        max-width: 1000px;
        width: 50%;
        height: auto;
        margin: 0 auto;
        left: 50%;
        top: 30px;
        transform: translateX(-50%);
      }
      .card_Filled{

          position: relative;
          width: 100%;
          min-height: 200px;
          height: auto;
          background-color: #FFFFFF;
          overflow: hidden;
          border-radius: 10px;
          margin: 0 0 30px 0;
      }
      .card-body {
            position: relative;
            width: 65%;
            height: 100%;
            top: 0;
            left: 0;
            padding: 30px;
      }
      img{
            position: absolute;
            width: 35%;
            height: 100%;
            top: 0;
            right: 0;
              background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
      }


}

.btn{
    direction: rtl;
    cursor: pointer;
    height: var(--height);
    border-radius: var(--rudios);
    padding: var(--padding);
    text-align: var(--align);
    font-size: var(--fontsize);
    font-weight: 400;
    margin: 8px;
    width:100%;
    font-family:  var(--fontfamily); ;
    line-height: calc( var(--height) - 2px );
    margin: max(8px, calc(48px - var(--height))) 0px 0px 16px;

    vertical-align: middle;
    align-items: normal;
    text-decoration: none;
    }
    .btn.filled{
        background-color: purple;
        color: var(--on-primary);
        border-color: transparent;

     }

